$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
html,
body {
  width: 100%;
  height: 100%;
  color: #fff;
}
body {
  padding: 0;
  background: url("../images/bg.png"); 
  background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
  section {
    background: rgba(2, 2, 2, 0.6);
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    min-height: 100%;
    .main {
      -webkit-box-flex: 1;
      -webkit-flex: 1;
      -ms-flex: 1;
      flex: 1;
      border: 1px solid #ccc;
      padding: 15px;
    }
  }
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */

.header {
  background: rgba(204, 204, 204, 0.4);
  border-bottom: none;
  margin-bottom: 10px;
  font-family: "Playfair Display,serif";
  font-style: italic;
  font-size: 30px;
  font-weight: 400;
  color: #fff;
  height: 50px;
  line-height: 40px;
  text-align: center;
}

.fi-btn {
  background: transparent;
  border-color: #f5a637;
  color: #fff;
}

.fi-color {
  color: #f5a637;
}
.fi-btn:hover {
  background: transparent;
  border-color: #f5a637;
  color: #f5a637;
}
.fi-menu{
  a{
    color: #fff;
    font-family: sans-serif;
    font-style: normal;
    font-size: 16px;
  }
}

/* Custom page footer */
.footer {
  border-top: none;
  font-family: "Playfair Display,serif";
  font-style: italic;
  font-size: 15px;
  font-weight: 400;
  color: #fff;
  margin-top: auto;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;

  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;

  p + h4 {
    margin-top: 28px;
  }
}

.header {
  padding: 0 20px;
  .logo {
    margin-top: 10px;
    width: 50px;
    float: left;
    height: 50px;
    img {
      width: 100%;
      height: 100%;
    }
  }
  .fi-title {
    font-size: 50px;
  }
}
.navbar-right {
  a {
    margin-left: 20px;
  }
}

.img-list {
  display: flex;
  > div {
    margin-right: 10px;
    position: relative;
    max-width: 110px;
  }
  .remove-btn {
    border-radius: 35px;
    border: 1px solid #ccc;
    color: #7d7d7d;
    height: 25px;
    width: 25px;
    padding: 0;
    text-align: center;
    line-height: 25px;
    margin-bottom: -15px;
    background: rgba(221, 221, 221, 0.75);
    right: -5px;
    position: absolute;
    top: -5px;
  }
  canvas {
    width: 100px;
    height: 100px;
  }
}
.list-group-item,.panel{
  background: transparent;
}
/* Responsive: Portrait tablets and up */
@media screen and (min-width: 1024px) {
  .container {
    //max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
