<div class="row" style="margin-bottom: 35px;">
  <div class="col-md-12">
    <h1>My Application</h1>
  </div>
</div>


<div class="panel panel-primary">
<div class="panel-heading" style="color: orange">Applications & Rating</div>
<div class="panel-body">
  <div class="row" style="margin-top:30px;margin-bottom: 20px;" >

    <div class="col-md-6">
      <a href="#!application" style="font-size: 20px; color: #fff">2018-08-18, 999 Gloucester Street Victoria Park WA 6100</a>
    </div>
    <div class="col-md-2">
      <div class="progress">
        <div class="progress-bar progress-bar-danger" style="width: 35%">
        </div>
      </div>
    </div>
  </div>
  <div class="row" style="margin-bottom: 20px;">
    <div class="col-md-6">
        <a href="#!application" style="font-size: 20px; color: #fff">2018-06-18, Richmond, VIC 3121, Cleanup House</a>
    </div>
    <div class="col-md-2">
      <div class="progress">
        <div class="progress-bar progress-bar-success" style="width: 100%">
        </div>
      </div>
    </div>
  </div>

  <div class="row" style="margin-bottom: 20px;">
    <div class="col-md-6">
        <a href="#!application" style="font-size: 20px; color: #fff">2018-06-20, Victoria Park, WA 6100, Fixing Toilet</a>
    </div>
    <div class="col-md-2">
      <div class="progress">
        <div class="progress-bar progress-bar-warning" style="width: 83%">
        </div>
      </div>
    </div>
  </div>
  <div class="row" style="margin-bottom: 20px;">
    <div class="col-md-6">
        <a href="#!application" style="font-size: 20px; color: #fff">2018-06-22, Ringwood East, VIC 3135, Fixing Water Pipe</a>
    </div>
    <div class="col-md-2">
      <div class="progress">
        <div class="progress-bar progress-bar-success" style="width: 100%">
        </div>
      </div>
    </div>
  </div>

  <a href="#!search-result" style="font-size: 15px">See all application</a>
</div>
</div>
