<div class="row">
  <div class="col-xs-10 col-xs-push-1">

    <div>
      <h1>Application Details</h1>
    </div>

    <br/>

    <div class="row">
      <div class="col-xs-2">
        <img src="images/people1.jpeg" alt="" width="100%" height="100%">
      </div>
      <div class="col-xs-5 col-xs-push-1">
        <div>When: 2018-06-18</div>
        <div>Where: Richmond, VIC 3121</div>
        <div>Who: Yingying Chen</div>
        <div>What: Cleanup House</div>
        <div>Credit:
          <span class="glyphicon glyphicon-star" style="color:orange"></span>
          <span class="glyphicon glyphicon-star" style="color:orange"></span>
          <span class="glyphicon glyphicon-star" style="color:orange"></span>
          <span class="glyphicon glyphicon-star" style="color:orange"></span>
          <span class="glyphicon glyphicon-star-empty" style="color:orange"></span>
        </div>
      </div>
    </div>

    <br/>
    <br/>

    <div>
      <div class="panel panel-primary">
        <div class="panel-heading">Detail Pictures</div>
        <div class="panel-body">
          <div class="col-xs-3">
            <div class="thumbnail">
              <img src="images/people1.jpeg">
            </div>
          </div>
          <div class="col-xs-3">
            <div class="thumbnail">
              <img src="images/people2.jpg">
            </div>
          </div>
          <div class="col-xs-3">
            <div class="thumbnail">
              <img src="images/timg.jpeg">
            </div>
          </div>
        </div>
      </div>
    </div>

    <div>
      <div class="panel panel-primary">
        <div class="panel-heading">Provider Reviews</div>
        <div class="panel-body">
          <div>
            <div>
              <span class="glyphicon glyphicon-user"></span>Lucy Li
            </div>
            <div>
              <span class="glyphicon glyphicon-star" style="color:orange"></span>
              <span class="glyphicon glyphicon-star" style="color:orange"></span>
              <span class="glyphicon glyphicon-star" style="color:orange"></span>
              <span class="glyphicon glyphicon-star" style="color:orange"></span>
              <span class="glyphicon glyphicon-star-empty" style="color:orange"></span>
              <span style="font-weight:bold">Really kind and nice person</span>
            </div>
            <div>
              Really kind person, give me a bottle of water after fixing.
            </div>
            <div>
              <span style="color:green">Published 5 hours ago</span>
            </div>
          </div>

          <br/>

          <div>
            <div>
              <span class="glyphicon glyphicon-user"></span>Jack Chan
            </div>
            <div>
              <span class="glyphicon glyphicon-star" style="color:orange"></span>
              <span class="glyphicon glyphicon-star" style="color:orange"></span>
              <span class="glyphicon glyphicon-star" style="color:orange"></span>
              <span class="glyphicon glyphicon-star-empty" style="color:orange"></span>
              <span class="glyphicon glyphicon-star-empty" style="color:orange"></span>
              <span style="font-weight:bold">Very punctual</span>
            </div>
            <div>
              Very punctual, wait me for a long time and very poilte. But not a high pay.
            </div>
            <div>
              <span style="color:green">Published 20 hours ago</span>
            </div>
          </div>

          <br/>

          <div>
            <span style="color:mediumblue">See all customer reviews</span>
          </div>

        </div>
      </div>
    </div>

    <div>
      <div class=" text-right">
        <button class="btn fi-btn" ng-click="applicationDetail.goBack()">Back</button>&nbsp;&nbsp;&nbsp;&nbsp;
        <button class="btn fi-btn" ng-click="applicationDetail.confirm()">I'll help</button>
      </div>
    </div>
  </div>
</div>
