<div class="row">
  <h1>Fixing Invitation</h1>
  <div class="col-sm-3 col-md-3 col-md-4 col-md-3" ng-repeat="pp in search.resultList">
    <img ng-src="{{pp.image}}">

  </div>
  <div class="col-sm-3 col-md-3 col-md-4 col-md-3" ng-repeat="pp in search.resultList">
    <img ng-src="{{pp.image}}">

  </div>
  <div class="col-sm-3 col-md-3 col-md-4 col-md-3">
    <img ng-src="{{pp.image}}">

  </div>


</div>>


<h1>Fixing Invitation</h1>

<div class="row">
  <div class="col-sm-4 col-md-3" ng-repeat="pp in search.resultList">
    <div class="thumbnail">
      <img ng-src="{{pp.image}}">
      <div class="caption">
        <h3>{{pp.name}}</h3>
        <p>{{pp.description}}</p>
        <p>
          <a href="#" class="btn btn-primary" role="button">Contact</a>
          <a href="#" class="btn btn-danger pull-right" role="button">
            <span class="glyphicon glyphicon-heart" style="color: white;"></span>
          </a>
        </p>
      </div>
    </div>
  </div>
</div>
