<div>
  <div class="form-horizontal">

    <div class="form-group">
      <label for="inputWhen" class="col-sm-2 control-label">When:</label>
      <div class="col-sm-8">
        <input type="date" class="form-control" id="inputWhen">
      </div>
    </div>

    <div class="form-group">
      <label for="inputWhere" class="col-sm-2 control-label">Where:</label>
      <div class="col-sm-8">
        <!-- <input type="text" class="form-control" id="inputWhere" placeholder="Where are you?"> -->
        <textarea name="" id="" cols="30" rows="10" class="form-control"></textarea>
      </div>
    </div>

    <div class="form-group">
      <label for="inputFixType" class="col-sm-2 control-label">Fix Type:</label>
      <div class="col-sm-8">
        <select class="form-control" id="inputFixType">
          <option>Cleanup House</option>
          <option>Fix toilet</option>
          <option>Fix water pipe</option>
          <option>Change bulb</option>
          <option>Mowing the lawn</option>
        </select>
      </div>
    </div>
    <div class="form-group">
      <label for="inputAttachment" class="col-sm-2 control-label">Attachment:</label>
      <div class="col-sm-8">
        <div class="img-list">
          <div ng-repeat="item in uploader.queue track by $index">
            <button type="button" class="remove-btn pull-right" ng-click="item.remove()">
              <span class="glyphicon glyphicon-remove"></span>
            </button>
            <div class="thumbnail" ng-show="uploader.isHTML5" ng-thumb="{ file: item._file, height: 100 }"></div>

          </div>
          <div class="thumbnail" onclick="document.getElementById('file').click();" style="height: 114px;width: 110px;text-align: center;color: #ccc;">
            <span style="font-size:60px">+</span>
          </div>
          <input id="file" type="file" nv-file-select="" uploader="uploader" multiple style="display:none" /><br/>

        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="col-md-offset-2 col-sm-8 control-label">
        <button type="submit" class="btn fi-btn " ng-click="confirm()">Submit</button>
      </div>
    </div>
  </div>
</div>