<div class="row">
  <div class="col-xs-3">
    <div class="row">
      <div class="col-xs-8">
        <img src="images/people1.jpeg" alt="" width="100%" height="100%">
      </div>
    </div>
    <div class="row">
      <h3 class="col-xs-4">Skills</h3>
    </div>

    <ul class="list-group col-xs-9">
      <li class="list-group-item ">
        <span class="glyphicon glyphicon-ok"></span> House Clean
      </li>
      <li class="list-group-item ">
        <span class="glyphicon glyphicon-ok"></span> Fix Water Pipe
      </li>
      <li class="list-group-item ">
        <span class="glyphicon glyphicon-ok"></span> Repair Toilet
      </li>
    </ul>
  </div>

  <div class="col-xs-9">
    <div class="row" style="font-size: larger;font-weight: bolder">
      <div class="col-xs-4">
        <div>Name: Yuchen Zhang</div>
        <div>Sex: Male</div>
        <div>Phone: +86 13301010101</div>
      </div>

      <div class="col-xs-4 col-xs-push-2">
        <div>Location: Melbourne CBD</div>
        <div>Credit:
          <span class="glyphicon glyphicon-star" style="color:orange"></span>
          <span class="glyphicon glyphicon-star" style="color:orange"></span>
          <span class="glyphicon glyphicon-star" style="color:orange"></span>
          <span class="glyphicon glyphicon-star" style="color:orange"></span>
          <span class="glyphicon glyphicon-star-empty" style="color:orange"></span></div>
        <div>Label: Clean, Efficient</div>
      </div>
    </div>

    <br/>
    <br/>

    <div class="panel panel-primary">
      <div class="panel-heading">I recently fixed</div>
      <div class="panel-body">
        <div>
          <span class="glyphicon glyphicon-record"></span>
          Fix Water Pipe in Melbourne CBD 1 days ago
        </div>

        <div>
          <span class="glyphicon glyphicon-record"></span>
          Repair Toilet in Glen Waverley 3 days ago
        </div>
      </div>
    </div>

    <br/>

    <div class="panel panel-primary">
      <div class="panel-heading">Customer Reviews</div>
      <div class="panel-body">
        <div>
          <div>
            <span class="glyphicon glyphicon-user"></span> Wenting Yan
          </div>
          <div>
            <span class="glyphicon glyphicon-star" style="color:orange"></span>
            <span class="glyphicon glyphicon-star" style="color:orange"></span>
            <span class="glyphicon glyphicon-star" style="color:orange"></span>
            <span class="glyphicon glyphicon-star" style="color:orange"></span>
            <span class="glyphicon glyphicon-star-empty" style="color:orange"></span>
            <span style="font-weight:bold"> Excellent work on fixing toilet</span>
          </div>
          <div>
            He was so helpful to fix my house toilet, and very polite. Strongly recommend.
          </div>
          <div>
            <span style="color:green">Published 10 hours ago</span>
          </div>
        </div>

        <br/>

        <div>
          <div>
            <span class="glyphicon glyphicon-user"></span> Hui Chang
          </div>
          <div>
            <span class="glyphicon glyphicon-star" style="color:orange"></span>
            <span class="glyphicon glyphicon-star" style="color:orange"></span>
            <span class="glyphicon glyphicon-star" style="color:orange"></span>
            <span class="glyphicon glyphicon-star-empty" style="color:orange"></span>
            <span class="glyphicon glyphicon-star-empty" style="color:orange"></span>
            <span style="font-weight:bold">Enjoy his work</span>
          </div>
          <div>
            He helped to clean such dirty kitchen, and also help to fix the water pipe. But he charged a lot which I
            don't like. But actually we had a good chat during his work. But anyway he totally fix my problem. I really
            appreiciate it.
          </div>
          <div>
            <span style="color:green">Published 23 hours ago</span>
          </div>
        </div>

        <br/>

        <div>
          <span style="color:mediumblue">See all customer reviews</span>
        </div>

      </div>
      </div>

    <br/>

    <div class="text-right">
      <button class="btn fi-btn" ng-click="provider.goBack()">Back</button>&nbsp;&nbsp;&nbsp;&nbsp;
      <button class="btn fi-btn" ng-click="provider.bookMe()">Book Me</button>
    </div>

    <br/>

  </div>
</div>
