<div class="row" style="margin-bottom: 20px;">
  <div class="col-md-12">
    <h1>Fixing Invitation</h1>
  </div>
</div>
<div class="row">
  <div class="col-md-3">
    <span style="font-weight: bolder; font-size: 20px;">Yingying Chen</span>
  </div>
  <div class="col-md-7">
      <a href="#!application" style="font-size: 20px; color: #fff">2018-06-18, Richmond, VIC 3121, Cleanup House</a>
  </div>
  <div class="col-md-2">
    <div class="progress">
      <div class="progress-bar progress-bar-danger" style="width: 35%">
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-3">
    <span style="font-weight: bolder; font-size: 20px;">Yu Chen</span>
  </div>
  <div class="col-md-7">
      <a href="#!application" style="font-size: 20px; color: #fff">2018-06-20, Victoria Park, WA 6100, Fixing Toilet</a>
  </div>
  <div class="col-md-2">
    <div class="progress">
      <div class="progress-bar progress-bar-warning" style="width: 55%">
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-3">
    <span style="font-weight: bolder; font-size: 20px;">Haipeng Liu</span>

  </div>
  <div class="col-md-7">
      <a href="#!application" style="font-size: 20px; color: #fff">2018-06-22, Ringwood East, VIC 3135, Fixing Water Pipe</a>
  </div>
  <div class="col-md-2">
    <div class="progress">
      <div class="progress-bar progress-bar-success" style="width: 100%">
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-2 pull-right">
    <!-- <select class="form-control">
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
    </select> -->
    <a href="" style="font-size: 16px;color:#ccc;">more...</a>
  </div>
</div>


<!--public fixing-->
<div class="row" style="margin-bottom: 20px;">
  <div class="col-md-12">
    <h1>Public Invitation</h1>
  </div>
</div>
<div class="row" style="margin-bottom: 15px;" >
  <div class="col-md-3">
    <span style="font-weight: bolder; font-size: 20px;">Jerry Zhang</span>
  </div>
  <div class="col-md-7">
      <a href="#!application" style="font-size: 20px; color: #fff">2018-06-17, Kangaroo Point, QLD 4169, Cleanup House</a>
  </div>
</div>
<div class="row" style="margin-bottom: 15px;" >
  <div class="col-md-3">
    <span style="font-weight: bolder; font-size: 20px;">Hui Chang</span>
  </div>
  <div class="col-md-7">
      <a href="#!application" style="font-size: 20px; color: #fff">2018-06-19, Olivers Hill, Vic 3199, Fixing Toilet</a>
  </div>
</div>
<div class="row" style="margin-bottom: 15px;">
  <div class="col-md-3">
    <span style="font-weight: bolder; font-size: 20px;">Chen Sun</span>
  </div>
  <div class="col-md-7">
      <a href="#!application" style="font-size: 20px; color: #fff">2018-06-19, Box Hill, VIC 3128, Fixing Water Pipe</a>
  </div>
</div>
<div class="row">
  <div class="col-md-2 pull-right">
    <!-- <select class="form-control">
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
    </select> -->
    <a href="" style="font-size: 16px;color:#ccc;">more...</a>
  </div>
</div>

<div class="row" style="margin-bottom: 20px;">
  <div class="col-md-12">
    <h1>Schedule</h1>
  </div>
</div>
<div class="row" style="margin-bottom: 20px;">
  <div class="col-md-12">
    <img width="1090" src="../images/schedule.png"/>
  </div>
</div>





