<div class="row" style="margin-bottom: 20px;">
  <div class="col-md-12">
    <h1>My Profile</h1>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <img src="../images/yucheng.jpeg" width="300">
  </div>
  <div class="col-md-1">
    <span style="font-weight: bolder; font-size: 20px; margin-bottom: 50px;">Name:&nbsp</span>
  </div>

  <div class="col-md-3">
    <span style="font-size: 20px; margin-bottom: 50px;">Yuchen Zhang</span>
  </div>

  <div class="col-md-1">
    <span style="font-weight: bolder; font-size: 20px; margin-bottom: 50px;">Location:&nbsp</span>
  </div>
  <div class="col-md-3">
    <span style="font-size: 20px; margin-bottom: 50px;">Melbource CBD </span>
  </div>
  <br/><br/><br/><br/>

  <div class="col-md-1">
    <span style="font-weight: bolder; font-size: 20px; margin-bottom: 50px;">Sex:&nbsp</span>
  </div>
  <div class="col-md-3">
    <span style="font-size: 20px; margin-bottom: 50px;">Male </span>
  </div>
  <div class="col-md-1">
    <span style="font-weight: bolder; font-size: 20px; margin-bottom: 50px;">Phone:&nbsp</span>
  </div>
  <div class="col-md-3">
    <span style="font-size: 20px; margin-bottom: 50px;">+86 13301010101 </span>
  </div>
  <br/><br/><br/><br/>
  <div class="col-md-1">
    <span style="font-weight: bolder; font-size: 20px; margin-bottom: 50px;">Addr:&nbsp</span>
  </div>
  <div class="col-md-6">
    <span style="font-size: 20px; margin-bottom: 50px;">Ringwood East, VIC 3135</span>
  </div>
  <br/><br/><br/><br/><br/>
  <div class="col-md-3">
    <button type="button" class="btn fi-btn btn-lg">Edit</button>
  </div>
</div>

<div class="row" style="margin-bottom: 20px;">
  <div class="col-md-12">
    <h1>My Skills</h1>
  </div>
</div>

<div class="row">
  <div class="col-md-3">
    <label class="checkbox-inline " style="font-size: 20px; margin-bottom: 50px;">
      <input type="checkbox" id="inlineCheckbox1" value="option1"> Cleanup House
    </label>
  </div>
  <div class="col-md-3">
    <label class="checkbox-inline" style="font-size: 20px; margin-bottom: 50px;">
      <input type="checkbox" id="inlineCheckbox2" value="option2"> Fix Water Pipe
    </label>
  </div>
  <div class="col-md-3">
    <label class="checkbox-inline " style="font-size: 20px; margin-bottom: 50px;">
      <input type="checkbox" id="inlineCheckbox3" value="option3"> Change Glass
    </label>
  </div>
</div>

<div class="row">
  <div class="col-md-3">
    <label class="checkbox-inline" style="font-size: 20px; margin-bottom: 50px;">
      <input type="checkbox" id="inlineCheckbox4" value="option4"> Fix Toilet
    </label>
  </div>
  <div class="col-md-3">
    <label class="checkbox-inline" style="font-size: 20px; margin-bottom: 50px;">
      <input type="checkbox" id="inlineCheckbox5" value="option5"> Repair Bulb
    </label>
  </div>
  <div class="col-md-3">
    <label class="checkbox-inline" style="font-size: 20px; margin-bottom: 50px;">
      <input type="checkbox" id="inlineCheckbox6" value="option6"> Repair Computer
    </label>
  </div>
</div>
